includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: trait.unused
        -
            identifier: argument.type
            path: src/Filament/*
            message: '#view-string#'
